<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update user</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="update-user-container">
        <form action="/update-user" method="POST">
            <div>
                <label>First Name:</label>
                <input name="firstName" value="<%= dataUser.firstName %>" />
            </div>
            <div>
                <label>Last Name:</label>
                <input name="lastName" value="<%= dataUser.lastName %>"  />
            </div>
            <div>
                <label>Email:</label>
                <input name="email" value="<%= dataUser.email %>"  />
            </div>
            <div>
                <label>Address:</label>
                <input name="address" value="<%= dataUser.address %>"  />
            </div>
            <input type="text" hidden name="id" value="<%= dataUser.id %>"  />
            <div>
                <button class="btn-save" type="submit">Save</button>
            </div>
        </form>
    </div>
</body>
</html>